@media (min-width: 800px) {
    .menu-container {
        max-width: 400px;
    }
    
    .generator-panel {
        background-color: #494949f8;
        flex-direction: row;
        justify-content: center;
        width: 70vw;
        min-width: 700px;
        height: 60vh;
        margin: 10vh auto;
    }

    .button-menu {
        height: 300px;
    }

    body {
        background-color: var(--bgc);
    }

}

@media (min-width: 450px) {
    h1 {
        font-size: 1.25em;
    }
}
