@media (min-width: 800px) {
    .generator-panel {
        flex-direction: row;
        justify-content: center;
        /* position: absolute; */
        width: 70vw;
        min-width: 700px;
        height: 60vh;
        margin: 10vh auto;
    }

    .button-menu {
        height: 300px;
    }

}

@media (min-width: 450px) {
    h1 {
        font-size: 1.25em;
    }
}