.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .5em;
    /* height: 50vh; */
}

.glry-img {
    height: 150px;
    cursor: pointer;
    border-radius: 5%;
}