.generator-panel {
    display: none;
    width: 350px;
    height:600px;
    margin: auto;
    min-width: 310px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9c9c9cce;
    border-radius: 10px;
}

.canvas-container {
    margin: .5em;
}

canvas {
    margin: 0;
    border: 2px solid vawhite;
    border-radius: 2.5%;
}

.button-menu {
    background-color: #4949498f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
}

.text-editor {
    background-color: var(--bgc);
    /* background-image: linear-gradient(to right,rgb(255, 0, 0), rgb(255, 238, 0), rgb(0, 192, 42), rgb(0, 38, 255), rgb(195, 0, 255)); */
    padding: .3em;
    border-radius: 10px;
}

.text-input {
    width: 100%;
    border-radius: 15px;
    border: 3px solid var(--bgc);
}

.font-and-color {
    display: flex;
    justify-content: space-between;
}

.button-menu {
    margin: 0;
    padding: 1em;
    text-align: center;
}

.menu-line {
    padding: .5em;
}

button img {
    width: 1em;
    height: 1em;
}

.font-color {
    background-image: url(../../icons/paint-board-and-brush.png);
}