.generator-panel {
    display: none;
    width: 60vw;
    min-width: 310px;
    height: 80vh;
    margin: 0 20vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9c9c9c96;
    padding: 1em;
    border-radius: 10px;
    position: absolute;
}

.canvas-container {
    margin: .5em;
}

canvas {
    margin: 0;
    border-radius: 2.5%;
}

.button-menu {
    background-color: #4949498f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
}

.text-editor {
    background-color: var(--bgc);
    padding: .3em;
    border-radius: 10px;
}

.text-input {
    width: 100%;
    border-radius: 15px;
    border: 3px solid var(--bgc);
}

.font-and-color {
    display: flex;
    justify-content: space-between;
}

.button-menu {
    margin: 0;
    padding: 1em;
    text-align: center;
}

.menu-line {
    padding: .5em;
}

button img {
    width: 1em;
    height: 1em;
}

.font-color {
    background-image: url(../../icons/paint-board-and-brush.png);
}