.generator-panel {
    display: none;
    width: 100vw;
    height:70vh;
    margin: auto;
    min-width: 310px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size: 100% auto;
    border-radius: 10px;
    gap: 2em;
}

.canvas-container {
    margin: .5em;
}

canvas {
    margin: 0;
    border: 5px solid white;
    border-radius: 2.5%;
}

.menu-container{
    background-color: #494949f8;
    background-image: linear-gradient(to right,#00ad96, #00aeb4);
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin: auto;
}

.menu-line {
    display: flex;
    justify-content: space-evenly;
    padding: .5em;
}

.text-editor {
    
    background-color: #494949f8;

    margin: .5em;
    padding: .3em;
    border: 2px solid var(--bgc);
    border-radius: 15px;
}

button, [type='color'], .save-btn, .download-btn:hover {
    cursor: pointer;
}

.text-input {
    width: 80%;
    height: 2.25em;
    border-radius: 10px;
    border: 3px solid var(--bgc);
}

.font-and-color {
    display: flex;
    justify-content: space-evenly;
}

.button-menu {
    margin: 0;
    padding: 1em;
    text-align: center;
}

button img {
    width: 1em;
    height: 1em;
}

.save-btn, .download-btn {
    background-color: #494949f8;
    height: 2em;
    border: 1px solid #494949f8;
    border-radius: 25px;
    padding: 0 1em;
}

.save-btn {
    color: #00e3eb;

}

.download-btn, a {
    color: #00e3eb;

}

.font-selector {
    border: 1px solid var(--bgc);
    border-radius: 7px;
}

[type='color'] {
    width: 2.25em;
}



