

.title {
    background-image: linear-gradient(to right, rgb(0, 192, 42), rgb(0, 119, 255));
    padding: .3em;
    text-align: center;
}

.secondary-bar {
    background-color: var(--panel);
    margin-bottom: 1em;
    text-align: center;
    /* padding: .25em 0; */
}

.menu-btn {
    font-family: balsamiq;
    color: white;
    display: inline-block;
    padding: .25em 1em;
}

.menu-btn:hover {
    color: rgb(0, 255, 149);
    cursor: pointer;
}