header {
    /* margin: 1em; */
    /* border-radius: 20%; */
}

.title {
    background-image: linear-gradient(to right, rgb(0, 192, 42), rgb(0, 119, 255));
    padding: .3em;
    text-align: center;
}

.secondary-bar {
    background-color: var(--panel);
    margin-bottom: 2em;
}