@font-face {
    font-family: balsamiq;
    src: url(../../fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf);
}

@font-face {
    font-family: press-start;
    src: url(../../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}